<div class="heading">
  <app-page-breadcrum [breadcrum]="title" />
  <button (click)="handleAddDishes()">{{ addDishesBtn | titlecase }}</button>
</div>

<div *ngIf="dishes.length > 0; else noData">
  <!--Table to show all the restaurants dat-->

  <table mat-table [dataSource]="dishes" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Dish Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>

    <!-- Restaurant Column -->
    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef>
        <div class="restaurantMenu" [matMenuTriggerFor]="menuRestaurant">
          <span>Restaurant</span> <mat-icon matSuffix>arrow_drop_down</mat-icon
          ><span>{{ filter | titlecase }}</span>
        </div>
        <mat-menu #menuRestaurant="matMenu">
          <div class="menuOptions">
            <span
              *ngFor="let restaurant of restaurants"
              mat-menu-item
              (click)="
                selectRestaurant(restaurant._id, restaurant.restaurantName)
              "
            >
              {{ restaurant.restaurantName | titlecase }}
            </span>
          </div>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.restaurantName | titlecase }}
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="action-icon" (click)="view(element._id)"
          >remove_red_eye</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- The `noData` template content -->
<ng-template #noData>
  <div>{{ noDishes | sentence }}</div>
</ng-template>
